* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #CCC;
    font-family: 'Trebuchet MS';
    height: 100vh;
    width: 100%;
}

.topo {
    background: #000;
    color: #FFF;
    height: 85px;
    font-size: 22px;
    padding: 10px;
}

.topo img {
    height: 3em;
    width: 3em;
}

.nav {
    background: #191919;
    color: #FFF;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
}

.nav ul li {
    list-style: none;
}

.nav li {
    float: left;
    margin-right: 5px;
    width: 100px;    
}

.nav li a {
    color: #FFF;
    display: block;
    text-align: center;
    text-decoration: none;
}

.nav li a:hover {
    background: #CCC;
    color: #000;
}

.main {
    background: #667;
    min-height: 77vh;
}

.rodape {
    background: #191919;
    color: #FFF;
    height: 50px;
    padding: 5px;
    text-align: center;
}

.rodape a {
    color: #444;
    font-size: 1.2em;
    margin-right: 5px;
    text-decoration: none;
}

.rodape a:hover {
    color: #FFF;    
}
